/* 
.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(Hinh-nen-4K-1.jpeg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(Hinh-nen-4K-2.jpeg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(Hinh-nen-4K-3.jpeg);
} 
*/
